.col {
  flex: 1;
  width: 33%;
  background: #d5ddde;
  padding: 0 5px;
}

.col:nth-child(even) {
  margin: 0 10px 0 10px;
}

@media (max-width: 640px) {
  .col {
    flex: 1;
    width: 100%;
  }
}
