.arrowsRow {
  display: flex;
}

.arrowsRow span {
  flex: 1;
  width: 33%;
  text-align: center;
}

.arrowsRow span:nth-child(1) {
  text-align: left;
}

.arrowsRow span:nth-child(3) {
  text-align: right;
}

/*For icons with flex grid*/
.arrowsWidth16 {
  max-width: 16px;
  cursor: pointer;
}

.arrowsWidth16:empty {
  cursor: auto;
}